<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="keywords" content="Auto-Spear-Parts" />
    <meta name="description" content="Auto-Spear-Parts">
    <meta name="author" content="Auto-Spear-Parts">
    <title>@ViewData["Title"] - ErrorPage</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/icons/favicon.png">
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/lib/bootstrap5/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/fonts/errorpage/css/googlefonts.css">
    <link rel="stylesheet" href="~/css/errorpage.css" asp-append-version="true">
</head>
<body>
<div class="container">
     @RenderBody()
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap5/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/common/alllayouts.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>