<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>@ViewData["Title"] - Auto-Spear-Parts</title>

    <meta name="keywords" content="Auto-Spear-Parts" />
    <meta name="description" content="Auto-Spear-Parts">
    <meta name="author" content="Auto-Spear-Parts">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/icons/favicon.png">

    <script>
        WebFontConfig = {
            google: { families: ['Open+Sans:400,600,700', 'Poppins:400,600,700'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
</head>
<body>
    <!-- Loading Overlay Begin -->
    <partial name="_LoadingOverlay" />
    <!-- Loading Overlay End-->
    <!-- Page Wrapper Begin -->
    <div class="page-wrapper">
        <h1 class="d-none">Donald - Responsive eCommerce HTML Template</h1>
        <!-- Header Begin -->
        <partial name="_Header" />
        <!-- Header End -->
        <!-- Main Begin -->
        <main class="main mt-lg-4">
            <div class="page-content">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </main>
        <!-- Main End -->
        <!-- Footer Begin -->
        <partial name="_Footer" />
        <!-- Footer End -->
        </<div>
            <!-- Page Wrapper End -->
            <!-- Sticky Footer Begin -->
            <partial name="_StickyFooter" />
            <!-- Sticky Footer End-->
            <!-- Scroll Top Begin-->
            <partial name="_ScrollTop" />
            <!-- Scroll Top End-->
            <!-- Mobile Menu Begin -->
            <partial name="_MobileMenu" />
            <!-- Mobile Menu End -->


            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> 
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
            <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
            <script src="~/js/imagesloaded.pkgd.min.js"></script>
            <script src="~/js/jquery.elevatezoom.min.js"></script>
            <script src="~/js/owl.carousel.min.js"></script>
            <script src="~/js/sticky.min.js"></script>
            <script src="~/js/main.js" asp-append-version="true"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            @await RenderSectionAsync("Scripts", required: false)
</body>
</html>